*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.gallery{
    width: 100%;
    height: 150vh;
    color: #4A2C1A;
    background-image: url(asset/images/color\ theme.png);
   

}
 
  .Dc{
    font-size: 55px;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
   
  
  }
   
   .gallery_image_box{
    width: 95%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 40px;
   }
   .gallery_image{
     display: flex;
     align-items: center;
     justify-content: center;
     background: black;  
     object-fit: cover;
     position: relative;
   
   } 
   .gallery_image img{
      width: 100%;
      transition: 0.3s;
   }
   .gallery_image:hover img{
      opacity: 0.4;
   }
   .gallery_image h3{
      position: absolute;
      font-size: 35px;
      margin-bottom: 130px;
      color: #fac031;
      font-family: polo;
      z-index: 5;
      opacity: 0;
      transform: 0.3s;
   }
   .gallery_image:hover h3{
      opacity: 1;
   }
   .gallery_image p{
    position: absolute;
    width: 400px;
    margin-top: 30px;
    text-align: center;
    color: white;
    line-height: 22px;
    opacity: 0;
    z-index: 5;
    transition: 0.3s;
   }
   .gallery_image:hover p{
      opacity: 1;
   }
   .gallery_btn{
   position: absolute;
   margin-top: 190px;
   color: #000;
   background: #fac031;
   padding: 7px 25px;
   text-decoration: none;
   opacity: 0;
   transform: translateY(45px);
   z-index: 5;
   transition: 0.3s;
   }
   .gallery_image:hover .gallery_btn{
      opacity: 1;
      transform: translateY(0);
   }


  

@media screen and (max-width: 768px) {

  
    .gallery {
        width: 100%;
        min-height: 100vh;
        background-position: center;
    }
  
    .Dc {
        font-size: 35px;
        margin-top: 50px;
        text-align: center;

       }


    .gallery_image_box {
        width: 92%;
        margin: 15px auto;
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .gallery_image img {
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
    }

  
    .gallery_image h3 {
        font-size: 25px;
        margin-bottom: 100px;
    }

 
    .gallery_image p {
     
        width: 80%;
        margin-top: 25px;
    }

   
    .gallery_btn {
        margin-top: 145px;
        font-size: 14px;
    }
}


