*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.review{
    width: 100%;
    height: 150vh;
    background-color: #fffaf3; 
    background-image: url(asset/images/color\ theme.png);
    color: #4A2C1A;

  }
 
  
  .logo img{
    width: 80px;
    cursor: pointer;
    margin: 8px 0; 
    margin-left: 5px;
    
}
 
 
 .title{
    font-size: 45px;
    color: #4A2C1A;
    font-weight: bolder;
    font-family: sans-serif;
 }
 .Ac{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px
}

.review_box{
    width: 95%;
    margin: 70px auto;
    display: flex;
    margin-top: 100px;

}
.review_card{
    width: 350px;
    height: 485px;
    box-shadow: 0 2px 8px rgb(0, 0, 0,0.5);
    border-radius: 8px;
    padding: 8px 20px;
    margin: 0 8px;
}
.review_profile{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.3s;

}
.review_box .review_card:hover .review_profile{
    transform: translateY(-60px);
}

.review_box .review_card .review_profile img{
    width: 180px;
    height: 180px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 5px solid #cccccc;
}
.review_text{
    text-align: center;

}
.review_text .name{
    color: #000;
    transition: 0.3s;
}
.review_card:hover .review_text .name{
    transform: translateY(-50px);
}
.review_text .review_icon{
    color: #fac031;
    transition: 0.3s;
}
.review_card:hover .review_text .review_icon{
    transform: translateY(-30px);
}
.review_social i{
    margin: 5px 1px;
    font-size: 15px;
    opacity: 0;
    cursor: pointer;
    transition: 0.3s;
}
.review_card:hover .review_social i{
    opacity: 1;
    transform: translateY(-8px);
}
p{
    text-align: center;
    line-height: 22px;
    transition: 0.3s;

}
.review_card:hover p{
    margin-top: 5px;
}



@media screen and (max-width: 768px) {

   
    .review {
        width: 100%;
        height: auto ;
        padding-bottom: 40px;
        background-position: center;
    }

   
    .Ac {
        font-size: 35px;
        margin-top: 30px;
        align-items: center;
        
    }

    .review_box {
        width: 100%;
        margin:  auto;
        flex-direction: column;
        gap: 20px;
        align-items: center;
     }
    .review_card {
        width: 90%;
        height: auto;
        margin:  15px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    }

    .review_box .review_card .review_profile img {
        width: 150px;
        height: 150px;
    }

   
    .review_text {
        width: 100%;
        text-align: center;
    }

    .review_text .name {
        font-size: 20px;
        margin-top: 15px;
    }

     .review_text .review_icon {
     
        margin:10px 0;
    }

   .review_card p {
        width: 100%;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        margin: 10px auto;
    }

    .review_social {
        text-align: center;
        
    }

    .review_social i {
         opacity: 5;
    }

}




